{
    "package": {
        "name": "continuation-token",
        "repo": "library",
        "subject": "spreadshirt"
    },

    "version": {
        "name": "$POM_VERSION",
        "desc": "$COMMIT_MESSAGE",
        "released": "$RELEASE_DATE",
        "vcs_tag": "$GIT_VERSION",
        "gpgSign": false
    },

    "files":
        [
            {"includePattern": "continuation-token/target/(.*\\.jar)", "excludePattern": "continuation-token/target/.*.zip$", "uploadPattern": "/$1"}
        ],
    "publish": true
}
