{
    "package": {
        "name": "continuation-token",
        "repo": "library",
        "subject": "spreadshirt"
    },

    "version": {
        "name": "$POM_VERSION",
        "desc": "$COMMIT_MESSAGE",
        "released": "$RELEASE_DATE",
        "vcs_tag": "$GIT_VERSION",
        "gpgSign": false
    },

    "files":
        [
            {
                "includePattern": "deploy/(.*)",
                "uploadPattern": "/com/spreadshirt/continuation-token/$POM_VERSION/$1"
            }
        ]
    "publish": true
}
